*{
    margin: 20px;
    
}
body{
    background-color: bisque;
    text-align: center;
    
}
h1{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}
button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    background-color: aquamarine;

}
#result, #playerscore, #comscore{
    font-size: 30px;
    font-family: "Poller One", sans-serif;
}